* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: rgba(128, 128, 128, 0.2);
  text-align: center;
  text-transform: uppercase;
  padding: 22px 22px;
  grid-column: 1/ -1;
  /* margin-bottom: 20px; */
}
.sale {
  text-transform: uppercase;
  /* border: red; */
  background-color: #ec2f2f;
  color: #fff;
  display: inline-block;
  position: absolute;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  top: 0;
  left: 0;
  margin-top: -20px;
  margin-left: -39px;
  /* bottom: -80px; */
  /* width: 40px;
  text-align: center; */
}
.money {
  padding-bottom: 10px;
  margin-bottom: 10px;
  /* margin-right: 20px; */
  font-size: 30px;
}
body {
  font-family: sans-serif;
  /* border: solid black; */
}

p {
  font-size: 23px;
}

.challenge2 {
  width: 990px;
  /* flex-basis: 990px; */
  border: solid black;
  margin: 50px auto;
  position: relative;

  /* Grid layout */
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
  /* line-height: 0.5; */
}
button {
  font-size: 45px;
  background-color: black;
  -webkit-text-fill-color: white;
  cursor: pointer;
  /* width: 990px; */
  /* margin-left: -6px; */
  border: 5px solid black;
  grid-column: 1/ -1;
}

button:hover {
  background-color: #fff;
  -webkit-text-fill-color: black;
  border-top: solid rgb(26, 24, 24);
}

.shipping {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  flex-shrink: 0;
  margin-top: 30px;
}

.product-price {
  display: flex;
  justify-content: space-between;
}

.paragraph {
  margin-top: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.more-info:link,
.more-info:visited {
  color: rgb(88, 12, 230);
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  /* padding-top: 30px; */
  /* padding-bottom: 30px; */
  display: block;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.color {
  /* margin-top: 20px; */
  /* padding-top: 20px; */
  font-size: 30px;
  /* margin-left: -15px; */
  display: inline-block;
  /* width: 500px; */
  margin-top: 15px;
  margin-right: 10px;
}

.product {
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 20px;

  /* float: right; */
  /* margin-left: 80px; */
}
.list {
  margin-left: 30px;
  padding-top: 10px;
  line-height: 1.4;
}

ul {
  list-style: square;
  font-size: 25px;
  /* margin-left: 0; */
}
.left {
  height: 339px;
  /* grid-row: 1/4; */
  /* width: 305px;
  height: 315px; */
  /* flex: 1; */
  /* align-items: flex-end;
  padding-right: 25px;
  margin-bottom: -19px;
  position: relative; */
}
.center {
  /* width: 320px;
  height: 300; */
  /* flex: 1; */
  /* margin-right: 40px; */
  margin-top: 20px;
  /*
  padding-right: 10px;
  padding-top: 20px;
  padding-left: 50px; */
  /* margin: 0; */
  /* padding-right: 40px; */
}

.right {
  /* width: 310px; */
  /* flex: 1; */
  /* margin-right: 0; */
  /* margin-left: 0; */
  /* padding-top: 10px; */
}
/* .row {
  display: flex;
  flex: 1;
  flex-shrink: 0;
  gap: 50px;
 
} */
